{% extends 'base.html' %}

{% block content %}
<body>
  <div class="video_display">
    <h1>About FaFi</h1>
    <p>The FaFi application implements the YOLOv5 pre-trained model to detect any 
      person objects in a live streaming video through the computer's camera. 
      A Surveillance mode can be turned on and stores a snapshot of the video 
      along with other information whenever people are detected inside the video, 
      then an email notification will be sent to the email on file.</p>
  </div>
</body>
{% endblock %}
